#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

###########
# TeX
###########
*.pdf
*.log
*.swp
*.tcp
*.aux
*.bbl
*.blg
*.out
*.synctex
*.synctex.gz
*.synctex(busy)
*.tps
*.otf
pdg-vita.txt
awk
gawk.exe.stackdump
gitHeadInfo.gin
gitTreeInfo.gtr
git-forest.pl
gitgraph.txt
sample.txt
